
html {
  height: 100%;
  overflow: hidden;
  color: #1E1E1E;
}

body {
  color: #1E1E1E;
  margin:0;
  padding:0;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  box-sizing: border-box;
  height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}

header, header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
	display: block;
	background-color: #1E1E1E;
  background-image: url(../img/megaphone-header.jpg);
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header img {
  width: 100%;
  max-width: 330px;
}

@media (min-width: 756px) {
  header img {
    /* width: 330px; */
    max-width: 500px;
  }
}

.main {
  background-color: #1E1E1E;
  max-width: 100%;
  position: relative;
  z-index: 2;
  height: auto;
}

.portfolio-section {
  margin-top: 78px;
}

.logos-spacing {
  margin-bottom: 156px;
}

.portfolio-logo-wrapper {
  padding: 12px;
  width: auto;
  min-height: 172px;
  min-width: 172px;
  height: auto;
  margin: 24px;
  background: black;
}

/* @media (min-width: 756px) {
  .portfolio-logo {
    width: 154px;
  }
} */

.portfolio-logo {
  max-width: 156px;
  max-height: 156px;
  padding: 12px;
}


